* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
header {
    position: fixed;
    z-index:10;
    border: 1px solid red;
    width: 100vw;
    /* margin-right: 80px; */
    display: flex;
    align-items: center;
    background-color: white;
}
.header img{
    border: 1px solid red;
    position: relative;
    width: 30%;
    height: auto;
}
#nav-bar ul {
    display: flex;
    border: 1px solid red;
    margin-right:40px;
    align-items: center;
}
#nav-bar ul li {
    border: 1px solid blue;
    margin: 0 10px;
    display: flex;
    /* float :right; */
    /* margin: 10px; */
    list-style: none;
}

#container{
    display: flex;
    justify-content: center;
    /* border: 1px solid blue; */
    flex-direction: column;
}
#how-it-works, #newsletter {
display: flex;
justify-content: center;
    /* position: absolute; */
    width: 100%;
}  
.container {
    position: absolute;
    margin-top: 70px;
    width: 100%;
}
#form {
    margin: 10px;

}

#video {
    width: 956px;
    height: 538px;
}

@media (max-width: 600px) {
    #video {
        width: 478px;
        height: auto;
    }
}
